@* I know the model view controller stuff is probably the more correct wayt o do everything but the way I concluded with was easier. Will come back to it.*@
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h2>The date and current time is:</h2>
    <p>@DateTime.Now.ToString()</p>
</div>
