@*The Model, View, Controller files are left because I want to come back and actually get the DateTime.Now to display that way*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>The current Date and Time is:</h2>
    <p>@DateTime.Now.ToString()</p>
</div>
